<dl style="padding-left: 100px; border-left:1px solid #000" class="list">
  <dt>Title</dt>
  <dd>{{ menuItem.name }}</dd>
  <dt>Description</dt>
  <dd>{{ menuItem.Description }}</dd>
  <dt>Mesh Name</dt>
  <dd>{{ menuItem.mesh }}</dd>
  <dt>Show a label</dt>
  <dd>{{ menuItem.showLabel }}</dd>
  <dt>Has animation(s)</dt>
  <dd>{{ menuItem.isAnimation }}</dd>
  <dt>Animation Trigger</dt>
  <dd>{{ menuItem.animationTrigger }}</dd>
  <dt>List of animation Triggers</dt>
  <dd>{{ menuItem.steps }}</dd>
  <dt>Asset Name</dt>
  <dd>{{ menuItem.asset }}</dd>
  <dt>Asset Type</dt>
  <dd>{{ menuItem.type }}</dd>
  <hr>
  <ng-menuitem-detail [menuItem]="childMenuItem" *ngFor="let childMenuItem of menuItem.children; let i = index"></ng-menuitem-detail>
</dl>