<div class="container">
  <h1>{{ qrcode.title }}</h1>
  <dl class="list">
    <dt>Title</dt>
    <dd>{{ qrcode.title }}</dd>
    <dt>Description</dt>
    <dd>{{ qrcode.description }}</dd>
    <dt>Duration</dt>
    <dd>{{ qrcode.duration }}</dd>
    <dt>Type</dt>
    <dd>{{ qrcode.type }}</dd>
    <dt>Unity Start Scene</dt>
    <dd>{{ qrcode.scene }}</dd>
    <dt>File</dt>
    <dd>{{ qrcode.url }}</dd>
    <dt>File Size</dt>
    <dd>{{ qrcode.file_size }}</dd>
    <dt>Thumbnail</dt>
    <dd>{{ qrcode.thumb }}</dd>
    <dt>3D Prefab Name</dt>
    <dd>{{ qrcode.model }}</dd>
    <dt>Sharepoint</dt>
    <dd>{{ qrcode.storageType }}</dd>
    <dt>Update Date</dt>
    <dd>{{ qrcode.updated_date | date:'short' }}</dd>
    <legend>Structure</legend>
    <ng-menuitem-detail [menuItem]="menuItem" *ngFor="let menuItem of qrcode.structure; let i = index"></ng-menuitem-detail>
  </dl>
  <div class="row">
    <div class="col-md-12">
      <a [routerLink]="['/qrcode-edit', qrcode._id]" class="btn btn-success">EDIT</a>
      <!--<button class="btn btn-danger" type="button" (click)="deleteQrcode(qrcode._id)">DELETE</button>-->
    </div>
  </div>
</div>
