<div>
  <div>
    <div class="container" style="width: 750px;text-align: center">
      <a (click)="Authenticate($event)" class="btn btn-success otg-button">
        Authenticate
      </a>
    </div>
  </div>
</div>