<div>
    <div class="container" style="width: 750px;text-align: center">
        <a class="btn btn-success otg-button" routerLink="/user">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New
        </a>
        <a class="btn btn-primary otg-button" routerLink="/list">
            Content
        </a>
        <a class="btn btn-primary otg-button" routerLink="/users">
            Users
        </a>
        <a class="btn btn-primary otg-button" routerLink="/roles">
            Roles
        </a>
        <a class="btn btn-primary otg-button" routerLink="/licenses">
            Licenses
        </a>
    </div>
</div>