@font-face {
	font-family: 'Nokia Headline Ultralight';
	src: url('NokiaPureHeadline_Ultralight.eot');
	src: url('NokiaPureHeadline_Ultralight.eot?#iefix') format('embedded-opentype'),
		url('NokiaPureHeadline_Ultralight.ttf') format('truetype');
}