<div style="padding-left: 100px; border-left:1px solid #000">
    <fieldset>

     <!-- Text input-->
      <div class="form-group">
        <label class="col-md-12 control-label" for="name">Title</label>
        <div class="col-md-12">
          <input id="name" [(ngModel)]="menuItem.name" name="name" type="text" placeholder="" class="form-control input-md" required="">
          <span class="help-block">This title will be the text shown on the menu item.</span>
        </div>
      </div>

      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-12 control-label" for="Description">Description</label>
        <div class="col-md-12">
          <textarea [(ngModel)]="menuItem.Description" class="form-control" id="Description" name="Description"></textarea>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-12 control-label" for="mesh">Mesh Name</label>
        <div class="col-md-12">
          <input [(ngModel)]="menuItem.mesh" id="mesh" name="mesh" type="text" placeholder="" class="form-control input-md">
          <span class="help-block">Name of the gameboject that belongs to the menu item.</span>
        </div>
      </div>

      <!-- Multiple Radios -->
      <div class="form-group">
        <label class="col-md-12 control-label" for="showLabel">Show a label</label>
        <div class="col-md-12">
          <div class="radio">
            <label for="showLabel-0">
              <input [(ngModel)]="menuItem.showLabel" type="radio" name="showLabel" id="showLabel-0" value="true" checked="checked">
              Yes
            </label>
          </div>
          <div class="radio">
            <label for="showLabel-1">
              <input [(ngModel)]="menuItem.showLabel" type="radio" name="showLabel" id="showLabel-1" value="false">
              No
            </label>
          </div>
        </div>
      </div>

      <!-- Multiple Radios -->
      <div class="form-group">
        <label class="col-md-12 control-label" for="isAnimation">Has animation(s)</label>
        <div class="col-md-12">
          <div class="radio">
            <label for="isAnimation-0">
              <input [(ngModel)]="menuItem.isAnimation" type="radio" name="isAnimation" id="isAnimation-0" value="true" checked="checked">
              Yes
            </label>
          </div>
          <div class="radio">
            <label for="isAnimation-1">
              <input [(ngModel)]="menuItem.isAnimation" type="radio" name="isAnimation" id="isAnimation-1" value="false">
              No
            </label>
          </div>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-12 control-label" for="animationTrigger">Animation Trigger</label>
        <div class="col-md-12">
          <input [(ngModel)]="menuItem.animationTrigger" id="animationTrigger" name="animationTrigger" type="text" placeholder="" class="form-control input-md">
          <span class="help-block">The name of the trigger that starts the animation.</span>
        </div>
      </div>

      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-12 control-label" for="steps">List of animation Triggers</label>
        <div class="col-md-12">
          <textarea [(ngModel)]="menuItem.steps" class="form-control" id="steps" name="steps"></textarea>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-12 control-label" for="asset">Asset Name</label>
        <div class="col-md-12">
          <input [(ngModel)]="menuItem.asset" id="asset" name="asset" type="text" placeholder="placeholder" class="form-control input-md">
          <span class="help-block">Name of asset without extension. This will show either a video or image when clicking on the menu item.</span>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-12 control-label" for="type">Asset Type</label>
        <div class="col-md-12">
          <select [(ngModel)]="menuItem.assetType" id="type" name="type" class="form-control">
            <option value="video">Video</option>
            <option value="image">Image</option>
          </select>
        </div>
      </div>

    </fieldset>

    <hr>
    <ng-menuitem [menuItem]="childMenuItem" *ngFor="let childMenuItem of menuItem.children; let i = index"></ng-menuitem>
</div>

<!-- Multiple Radios -->
<div class="form-group">
    <div class="col-md-12 pull-right">
        <a (click)="addMenuItem($event)" class="btn btn-default btn">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Sub Menu Item
        </a>
    </div>
</div>