<div>
  <div class="container" style="width: 750px;text-align: center">
    <a class="btn btn-primary otg-button" routerLink="/list">
      <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Manage
    </a>
  </div>
</div>
<div id="templatemo_header_wrapper">
  <img src="/assets/images/Nokia-Logo.png" width="2000" height="339" alt=""/>
  <div id="templatemo_header">
    <div id="site_title">
      <p><a href="#" class="Title">Learning on the GO</a></p>
      <p><a href="#" class="Subtitle"> QR Code generator</a></p>
    </div>
  </div>
</div>

<div id="templatemo_main_wrapper">
  <div style="overflow: visible;position: relative" id="templatemo_main">
    <img  *ngIf="showFileToolTip" class="tooltip-file" src="/assets/images/SharePoint_GIF.gif">
    <div id="content">
      <div id="home" class="section">
        <div class="home_box left">
          <div (click)="setType('video')" [ngClass]="{'active': qrcode.type === 'video'}" class="row1 box box1">
            <div class="box_with_padding">
              <h2>Add Video</h2>
              We recommend using .MP4 movie format.&nbsp;Take into account this video could be downloaded on cellular network when determining file size.</div>
          </div>
          <div (click)="setType('threesixty')" [ngClass]="{'active': qrcode.type === 'threesixty'}" class="row1 box2">
            <div class="box_with_padding">
              <h2>Add 360 Video</h2>
              We recommend using .MP4 movie format. Take into account this video could be downloaded on cellular network when determining file size.</div>
          </div>
          <div (click)="setType('pdf')" [ngClass]="{'active': qrcode.type === 'pdf'}" class="row1 box3">
            <div class="box_with_padding">
              <h2>Add PDF</h2>
              When scaling your document, take into account the PDF is being read on a mobile device.</div>
          </div>
          <div (click)="setType('url')" [ngClass]="{'active': qrcode.type === 'url'}" class="row1 box4">
            <div class="box_with_padding">
              <h2>Add URL</h2>
              This could be any HTML content you want to view in the app.</div>
          </div>
        </div>
        <div class="home_box right">
          <style>
            .result{
              padding: 30px;
            }
            .result .text{
              text-align: center;
              padding:5px 10px;
            }
            .result .txt-success{
              font-size: 30px;
              font-weight: bold;
            }
            .txt-description{
              display: inline-block;
              float: left;
              height: 94px;
              padding: 0;
              padding-left: 10px;
              width: 173px;
            }
            .result .qr-title{
              font-size: 13px;
            }
            .result .txt-download{
              font-weight: bold;
            }
            .qr-code-wrapper{
              position:relative;
              width: 338px;
              height: 167px;
              background:  url('/assets/background.png');
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center center;
            }
            .qr-code{
              object-fit: cover;
              height: 115px;
              width: 115px;
              position: absolute;
              left: 50%;
              top: 50%;
              margin-top: -57.5px;
              margin-left: -55.5px;
            }
          </style>
          <div class="result" *ngIf="newqrcode">
            <div class="text txt-success">Succes!</div>
            <div class="text txt-added">You have succesfully added your content to Learning on the GO</div>
            <div class="text txt-download">Your QR code will not be saved  on this page. Make sure you download it!</div>
            <div class="qr-code-wrapper">
              <img class="qr-code" src={{newqrcode.qrcode}} />
            </div>
            <div class="qr-title">
              {{ newqrcode.title }}
            </div>
            <div>
              <div style="background: white;overflow: hidden;">
                <img style="object-fit: cover;height: 94px;width: 165px;float:left" src={{newqrcode.thumb}} />
                <div class="txt-description" style="display: inline-block;float: left;height: 94px">
                  {{ newqrcode.description }}
                </div>
              </div>
            </div>
            <div style="margin-top: 10px;">
              <a href={{newqrcode.qrcode}} download="{{time}}.jpg" style="width:100%" type="submit" class="btn-generate btn">Download QR Code</a>
            </div>
          </div>
          <div *ngIf="!newqrcode && qrcode.type == ''" class="container-fluid">
            <div class="row">
              <div class="col-md-12 intro">
                <h1>Welcome!</h1>
                <p>Start adding your content to <a style="font-weight: 600" target="_blank" href="https://play.google.com/store/apps/details?id=com.nokia.OnTheGo&rdid=com.nokia.OnTheGo">Nokia learning on the GO</a></p>
                <p>Select any file type you wish to add, fill in the fields and generate your own piece of mobile content... Publish the QR code anywhere for instant access with the Nokia learning on the GO app!</p>
                <div style="text-align: center">
                  <img style="max-width: 100%" src="/assets/images/tut_1_welcomexxxhdpi.png"/>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="qrcode.type != ''" class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <form (ngSubmit)="saveqrcode()" #qrcodeForm="ngForm" class="form-horizontal">
                  <fieldset>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="title">Title</label>
                      <div class="col-md-12">
                        <input [(ngModel)]="qrcode.title"  id="title" name="title" type="text" placeholder="" class="form-control input-md" required="">
                      </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="description">Description</label>
                      <div class="col-md-12">
                        <textarea style="resize: none;" [(ngModel)]="qrcode.description" class="form-control" id="description" name="description"></textarea>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="skey">Session key</label>
                      <div class="col-md-12">
                        <input [(ngModel)]="qrcode.skey" id="skey" name="skey" type="text" placeholder="" class="form-control input-md">

                      </div>
                    </div>
                    <!-- Text input
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="duration">Duration</label>
                      <div class="col-md-12">
                        <input [(ngModel)]="qrcode.duration" id="duration" name="duration" type="text" placeholder="" class="form-control input-md">

                      </div>
                    </div>-->

                    <!-- Select Basic
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="type">Type</label>
                      <div class="col-md-12">
                        <select [(ngModel)]="qrcode.type" id="type" name="type" class="form-control">
                          <option value="video">Video</option>
                          <option *ngIf="isAdvanced" value="unity">Unity</option>
                          <option value="html5">HTML5</option>
                          <option value="pdf">PDF</option>
                          <option value="wbt">WBT</option>
                          <option value="url">External URL</option>
                          <option value="threesixty">360° Video</option>
                        </select>
                      </div>
                    </div>
                     -->

                    <!-- Select Basic -->
                    <div *ngIf="isAdvanced" class="form-group">
                      <label class="col-md-12 control-label" for="scene">Unity Start Scene</label>
                      <div class="col-md-12">
                        <select [(ngModel)]="qrcode.scene" id="scene" name="scene" class="form-control">
                          <option value="Inspect">3D Inspector</option>
                          <option value="Instant">Instant Tracking</option>
                          <option value="Image">Image Tracking</option>
                          <option value="Video">AR Video</option>
                        </select>
                      </div>
                    </div>

                    <input *ngIf="!isAdvanced" [(ngModel)]="qrcode.scene" id="scene" name="scene" type="hidden" placeholder="scene" class="form-control input-md">

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="url">File Storeage</label>
                      <div class="col-md-12">
                        <input type="radio" name="storagelocation" [(ngModel)]="qrcode.storageLocation" value="1"> Upload<br>
                        <input type="radio" name="storagelocation" [(ngModel)]="qrcode.storageLocation" value="2"> external
                      </div>
                    </div>

                    <div  *ngIf="qrcode.storageLocation==2" class="form-group">
                      <label class="col-md-12 control-label" for="url">File Location<span (mouseenter) = "enableFileToolTip()" (mouseleave) = "hideFileToolTip()" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></label>
                      <div class="col-md-12">
                        <input (keydown)="hideFileToolTip()" (focus)="enableFileToolTip()" [(ngModel)]="qrcode.url" id="url" name="url" type="text" placeholder="" class="form-control input-md" required="">
                        <span class="help-block">The download location of your content. This could be a SharePoint link as shown on the right or any other direct download link.</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div *ngIf="qrcode.storageLocation==1" class="form-group">
                      <label class="col-md-12 control-label" for="thumb">Upload File</label>
                      <div class="col-md-12">
                        <input [(ngModel)]="qrcode.content" id="file" name="content" type="file" placeholder="file" class="form-control input-md" required="">
                        <span class="help-block">Select your content.</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="file_size">File size (MB)</label>
                      <div class="col-md-12">
                        <input [(ngModel)]="qrcode.file_size" id="file_size" name="file_size" type="text" placeholder="20MB" class="form-control input-md">

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="thumb">Thumbnail image</label>
                      <div class="col-md-12">
                        <input [(ngModel)]="qrcode.thumb" id="thumb" name="thumb" type="file" placeholder="image.png" class="form-control input-md" required="">
                        <span class="help-block">A small image to represent your content in ontheGO.</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div *ngIf="isAdvanced" class="form-group">
                      <label class="col-md-12 control-label" for="model">3D Prefab Name</label>
                      <div class="col-md-12">
                        <input [(ngModel)]="qrcode.model" id="model" name="model" type="text" placeholder="prefab" class="form-control input-md">
                        <span class="help-block">This is the name of the prefab of the model in the assetbundle</span>
                      </div>
                    </div>

                    <input *ngIf="!isAdvanced" [(ngModel)]="qrcode.model" id="model" name="model" type="hidden" placeholder="prefab" class="form-control input-md">

                    <!-- Multiple Radios
                    <div class="form-group">
                      <label class="col-md-12 control-label" for="storageType">Sharepoint</label>
                      <div class="col-md-12">
                        <div class="radio">
                          <label for="storageType-0">
                            <input [(ngModel)]="qrcode.storageType" type="radio" name="storageType" id="storageType-0" value="sharepoint" checked="checked">
                            Yes
                          </label>
                        </div>
                        <div class="radio">
                          <label for="storageType-1">
                            <input [(ngModel)]="qrcode.storageType" type="radio" name="storageType" id="storageType-1" value="">
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                    -->

                    <!-- Text input-->
                    <div class="form-group">
                      <div class="col-md-12" style="text-align: right">
                        <button style="width:100%" type="submit" class="btn-generate btn" [disabled]="!qrcodeForm.form.valid">Generate QR Code</button>
                      </div>
                    </div>


                  </fieldset>


                  <legend *ngIf="isAdvanced">Add Structure</legend>
                  <div *ngIf="isAdvanced">
                    <ng-menuitem [menuItem]="menuItem" *ngFor="let menuItem of qrcode.structure; let i = index"></ng-menuitem>
                  </div>
                  <div *ngIf="isAdvanced" class="form-group">
                    <div class="col-md-12">
                      <a (click)="addMenuItem($event)" class="btn btn-default btn">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Menu Item
                      </a>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- END of Home --><!-- END of About --><!-- END of Services --><!-- END of Gallery --><!-- END of Testimonial --></div>
  </div>
  <div id="templatemo_footer_wrapper"> </div>

</div>

