<div>
  <!--<app-qrcode-create (QRCodeSavedEvent)='reload()'></app-qrcode-create>-->
  <app-qrcode-create (QRCodeSavedEvent)='reload()'></app-qrcode-create>
  <br><br>
  <div class="container" style="width: 750px;">
    <table class="table">
      <!--<thead>
      <tr>
        <th>Title</th>
        <th>Thumbnail</th>
        <th style="text-align: right">QR code</th>
      </tr>
      </thead>-->
      <!--<tbody>
      <tr *ngFor="let qrcode of qrcodes">
        <td style="min-width: 150px"><strong>{{ qrcode.title }}</strong><br><br>{{ qrcode.description }}</td>
        <td><img style="object-fit: cover;height: 204px;width: auto;margin: 20px;" src={{qrcode.thumb}} /></td>
        <td style="text-align: right"><img style="width: 244px" src={{qrcode.qrcode}} /></td>
      </tr>
      </tbody>-->
    </table>
  </div>
</div>