<h2 mat-dialog-title>Delete Content</h2>
<mat-dialog-content class="mat-typography">
    <p>Are you sure you want to delete this content? This cannot be undone.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close style="
    margin-right: 12px;" class="btn btn-primary">Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-danger">Yes</button>
</mat-dialog-actions>