<div>
  <ng-menu></ng-menu>
  <div class="container" style="width: 750px;">
    <h1>Content</h1>
    <table class="table">
      <thead>
      <tr>
        <th>Title</th>
        <th>Thumbnail</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let qrcode of qrcodes">
        <td style="min-width: 150px"><strong>{{ qrcode.title }}</strong><br><br>{{ qrcode.description }}</td>
        <td><img style="object-fit: cover;height: 75px;width: auto;" src={{qrcode.thumb}} /></td>
        <!--<td><img style="object-fit: cover;height: 75px;width: auto;" src="http://ec2-52-51-31-225.eu-west-1.compute.amazonaws.com/nokiaqr-content-alpha/samples/wavence/UBT-T-3Dmodel-OntheGo.jpg" /></td>-->

        <!--<td style="text-align: right"><img style="width: 150px" src={{qrcode.qrcode}} /></td>-->
        <td style="line-height: 75px;min-width: 70px;">
          <a href={{qrcode.qrcode}} download="{{qrcode._id}}.jpg" type="submit"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span></a>
          <a [routerLink]="['/qrcode-edit', qrcode._id]"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
          <a (click)="openDialog(qrcode._id)" style="cursor:pointer;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="center">
      <div class="pagination">
        <a *ngIf="currentPage > 1" (click)="setPage(1)">First</a>
        <a *ngIf="currentPage > 1" (click)="setPage(currentPage - 1)">&laquo;</a>
        <a *ngFor="let page of pages" (click)="setPage(page+1)" [ngClass]="{active:currentPage === page+1}" >{{page+1}}</a>
        <a *ngIf="pages && currentPage < pages.length" (click)="setPage(currentPage + 1)">&raquo;</a>
        <a *ngIf="pages && currentPage < pages.length" (click)="setPage(pages.length)" >Last</a>
      </div>
    </div>
  </div>
</div>