<div>
  <ng-menu></ng-menu>
  <div class="container" style="width: 750px;">
    <h1>Users</h1>
    <table class="table">
      <thead>
      <tr>
        <th>User</th>
        <th>Company</th>
        <th>Roles</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td style="min-width: 150px"><strong>{{ user.email }}</strong></td>
        <td style="min-width: 150px"><strong>{{ user.company }}</strong></td>
        <td style="min-width: 150px"><strong>{{ user.roles }}</strong></td>
        <td style="min-width: 70px;">
          <a [routerLink]="['/user-edit', user._id]"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
          <a (click)="openDialog(user._id)" style="cursor:pointer;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="center">
      <div class="pagination">
        <a *ngIf="currentPage > 1" (click)="setPage(1)">First</a>
        <a *ngIf="currentPage > 1" (click)="setPage(currentPage - 1)">&laquo;</a>
        <a *ngFor="let page of pages" (click)="setPage(page+1)" [ngClass]="{active:currentPage === page+1}" >{{page+1}}</a>
        <a *ngIf="pages && currentPage < pages.length" (click)="setPage(currentPage + 1)">&raquo;</a>
        <a *ngIf="pages && currentPage < pages.length" (click)="setPage(pages.length)" >Last</a>
      </div>
    </div>
  </div>
</div>