<div class="container">
  <h1>Edit user</h1>
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="updateOrdAddUser(user._id)" #userForm="ngForm" class="form-horizontal">
        <fieldset>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="email">email</label>
            <div class="col-md-4">
              <input [(ngModel)]="user.email"  id="email" name="email" type="email" placeholder="" class="form-control input-md" required="">
            </div>
          </div>

          <!-- Textarea
          <div class="form-group">
            <label class="col-md-4 control-label" for="company">Company</label>
            <div class="col-md-4">
              <input [(ngModel)]="user.company"  id="company" name="company" type="text" placeholder="" class="form-control input-md" required="">
            </div>
          </div>-->

          <!-- Text input
          <div class="form-group">
            <label class="col-md-4 control-label" for="roles">Roles</label>
            <div class="col-md-4">
              <input [(ngModel)]="user.duration" id="roles" name="roles" type="text" placeholder="" class="form-control input-md">

            </div>
          </div>
          -->

        </fieldset>
        <fieldset>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Save</button>
        </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>