<div class="container">
  <h1>Edit Qrcode</h1>
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="updateQrcode(qrcode._id)" #qrcodeForm="ngForm" class="form-horizontal">
        <fieldset>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="title">Title</label>
            <div class="col-md-4">
              <input [(ngModel)]="qrcode.title"  id="title" name="title" type="text" placeholder="" class="form-control input-md" required="">
            </div>
          </div>

          <!-- Textarea -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="description">Description</label>
            <div class="col-md-4">
              <textarea [(ngModel)]="qrcode.description" class="form-control" id="description" name="description"></textarea>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="duration">Duration</label>
            <div class="col-md-4">
              <input [(ngModel)]="qrcode.duration" id="duration" name="duration" type="text" placeholder="" class="form-control input-md">

            </div>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="type">Type</label>
            <div class="col-md-4">
              <select [(ngModel)]="qrcode.type" id="type" name="type" class="form-control">
                <option value="video">Video</option>
                <option value="unity">Unity</option>
                <option value="html5">HTML5</option>
                <option value="pdf">PDF</option>
                <option value="wbt">WBT</option>
                <option value="url">External URL</option>
                <option value="threesixty">360° Video</option>
              </select>
            </div>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="scene">Unity Start Scene</label>
            <div class="col-md-4">
              <select [(ngModel)]="qrcode.scene" id="scene" name="scene" class="form-control">
                <option value="Inspect">3D Inspector</option>
                <option value="Instant">Instant Tracking</option>
                <option value="Image">Image Tracking</option>
                <option value="Video">AR Video</option>
              </select>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="url">File</label>
            <div class="col-md-4">
              <input [(ngModel)]="qrcode.url" id="url" name="url" type="text" placeholder="" class="form-control input-md" required="">
              <span class="help-block">The download location of the content.</span>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="file_size">File Size</label>
            <div class="col-md-4">
              <input [(ngModel)]="qrcode.file_size" id="file_size" name="file_size" type="text" placeholder="20MB" class="form-control input-md">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="thumb">Thumbnail</label>
            <div class="col-md-4">
              <input [(ngModel)]="qrcode.thumb" id="thumb" name="thumb" type="text" placeholder="image.png" class="form-control input-md" required="">
              <span class="help-block">A thumbnail for the content that is shown in the downloads list on onthego.</span>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="model">3D Prefab Name</label>
            <div class="col-md-4">
              <input [(ngModel)]="qrcode.model" id="model" name="model" type="text" placeholder="prefab" class="form-control input-md">
              <span class="help-block">This is the name of the prefab of the model in the assetbundle</span>
            </div>
          </div>

          <!-- Multiple Radios -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="storageType">Sharepoint</label>
            <div class="col-md-4">
              <div class="radio">
                <label for="storageType-0">
                  <input [(ngModel)]="qrcode.storageType" type="radio" name="storageType" id="storageType-0" value="sharepoint" checked="checked">
                  Yes
                </label>
              </div>
              <div class="radio">
                <label for="storageType-1">
                  <input [(ngModel)]="qrcode.storageType" type="radio" name="storageType" id="storageType-1" value="">
                  No
                </label>
              </div>
            </div>
          </div>

        </fieldset>

        <legend>Add Structure</legend>
        <ng-menuitem [menuItem]="menuItem" *ngFor="let menuItem of qrcode.structure; let i = index"></ng-menuitem>

        <div class="form-group">
          <div class="col-md-12">
            <a (click)="addMenuItem($event)" class="btn btn-default btn">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Menu Item
            </a>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!qrcodeForm.form.valid">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>